/* default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica,  Arial, sans-serif;
}

/* my variables for multiple instances of code  */
:root {
    --wood: #865c5e;
    --green: #4d934d;
    --white: #f5f5f5;
    --pic-of-wood: url("../images/wood.jpg");
    --round-border: 10px;
}

/* header and nav format  */
header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-color: var(--green);
    color: var(--white);
    height: 100px;
}
header h1 {
    background-image: var(--pic-of-wood);
    background-position: center;
    background-size: cover;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0;
    width: 30%;
    padding: 10px;
    text-align: end;
    font-size: 50px;
    height: fit-content;
    border-radius: var(--round-border);
    
}
header a {
    text-decoration: none;
    color: var(--white);
}
header nav ul {
    list-style: none;
    display: flex;
    padding: 20px;
    margin-right: 50px;
}
header nav ul li {
    padding: 0 15px;
    font-size: 1.55vw;
    border-bottom: 3px solid var(--white);
    margin: 0 10px;
}

/* format hero image and webpage cool subtitle  */
.hero {
    background-image:url("../images/plants-reduces-stress.jpg");
    height: 300px;
    background-position: center;
    background-size: cover;
    position: relative;
}
.hero p {
    position: absolute;
    background-image: var(--pic-of-wood);
    background-position: center;
    background-size: cover;
    display: flex;
    color: var(--white);
    text-align: center;
    font-size: 2.5em;
    font-family: Georgia, 'Times New Roman', Times, serif;
    top: 78%;
    left: 62%;
    border-radius: var(--round-border);
    padding: 5px 10px;
}

main {
    display: flex;
    flex-wrap: wrap;
    background-color: var(--white);
    color: var(--green);
}

.body-section {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: 30px;
}

#about-me div {
    width: 75%;
    height: fit-content;
    padding: 10px 25px;
    font-weight: bold;
}

.section-title {
    font-size: 60px;
    text-align: right;
    border-right: 5px solid var(--green);
    width: 25%;
    padding: 0 10px;
}

#my-work {
    height: 70%;
}
.project-tiles {
    width: 75%;
    height: fit-content;
    display: flex;
    flex-wrap: wrap;
}
#main-tile {
    position: relative;
    width: 100%;
    height: 400px;
    margin: 10px 30px 0;
    border: 5px solid var(--wood);
}
.project-img {
    position: absolute;
    opacity: .5;
    width: 100%;
    height: 100%;
}
.project-img:hover {
    opacity: 1;
}
#main-tile nav {
    margin: 290px 0 20px 0;
    position: absolute;
}
.tile {
    width: 100%;
    height: fit-content;
    margin: 10px 20px;
    display: flex;
    flex-wrap: wrap;
}
.tile div{
    height: 150px;
    width: 48.5%;
    border: 5px solid var(--wood);
    margin: 10px;
    position: relative;
}
.project-tiles nav {
    position: absolute;
    display: block;
    background-color: var(--wood);
    height: 80px;
    width: fit-content;
    margin: 40px 0 20px 0;
    padding: 10px;   
    line-height: 15px; 
    color: var(--white);
    border-radius: 0 var(--round-border) var(--round-border) 0;
}
.project-tiles nav h3 {
    font-size: 25px;
    margin-top: 10px;
}

#contact-info div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    width: 75%;
}

#contact-info div a {
        border-bottom: 5px solid var(--green);
        text-decoration: none;
        color: var(--green);
        font-size: 20px;
        padding: 10px;
}

/* media queries for different screen sizes */
@media screen and (max-width: 980px) {
    /* 769px - 980px */

}
@media screen and (max-width: 768px) {

}
@media screen and (max-width: 575px) {
    
}
